USE [master]
GO
/****** Object:  Database [KantarDb]    Script Date: 1.02.2021 00:20:02 ******/
CREATE DATABASE [KantarDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KantarDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KantarDbmaden.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KantarDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KantarDbmaden_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KantarDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KantarDb]
GO
/****** Object:  Table [dbo].[Arac]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arac](
	[AracId] [int] IDENTITY(1,1) NOT NULL,
	[AracPlaka] [varchar](50) NULL,
	[AracDorsePlaka] [varchar](50) NULL,
	[AracDaraAgirlik] [float] NULL,
	[AracTip] [bit] NULL,
	[AracMarkaModel] [nvarchar](max) NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_Arac] PRIMARY KEY CLUSTERED 
(
	[AracId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CariUnvan_Firma]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CariUnvan_Firma](
	[CariUnvan_FirmaId] [int] IDENTITY(1,1) NOT NULL,
	[CariUnvan_FirmaAd] [varchar](255) NULL,
	[CariUnvan_FirmaTelefon] [nvarchar](50) NULL,
	[CariUnvan_FirmaAdres] [nvarchar](max) NULL,
	[CariUnvan_FirmaEmail] [nvarchar](max) NULL,
	[CariUnvan_FirmaVergiDairesi] [nvarchar](max) NULL,
	[CariUnvan_FirmaVergiNo] [varchar](100) NULL,
	[CariUnvan_FirmaMarsisNo] [nvarchar](max) NULL,
	[CariUnvan_SahisAdSoyad] [nvarchar](max) NULL,
	[CariUnvan_SahisAd] [nvarchar](max) NULL,
	[CariUnvan_SahisSoyad] [nvarchar](max) NULL,
	[CariUnvan_FirmaTC] [nvarchar](11) NULL,
	[CariUnvan_FirmaGonderici] [bit] NULL,
	[CariUnvan_FirmaTip] [int] NULL,
	[Il] [nvarchar](max) NULL,
	[Ilce] [nvarchar](max) NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_CariUnvan_Firma] PRIMARY KEY CLUSTERED 
(
	[CariUnvan_FirmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Malzeme]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Malzeme](
	[MalzemeId] [int] IDENTITY(1,1) NOT NULL,
	[MalzemeAd] [nvarchar](max) NULL,
	[MalzemeAciklama] [nvarchar](max) NULL,
	[MalzemeBirimFiyat] [float] NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_Malzeme] PRIMARY KEY CLUSTERED 
(
	[MalzemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SevkYeri]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SevkYeri](
	[SevkYeriId] [int] IDENTITY(1,1) NOT NULL,
	[SevkYeriAdres] [nvarchar](max) NULL,
	[SevkYeriAciklama] [nvarchar](max) NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_SevkYeri] PRIMARY KEY CLUSTERED 
(
	[SevkYeriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sofor]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sofor](
	[SoforId] [int] IDENTITY(1,1) NOT NULL,
	[SoforAd] [nvarchar](max) NULL,
	[SoforSoyad] [nvarchar](max) NULL,
	[SoforAdSoyad] [nvarchar](max) NULL,
	[SoforTC] [nvarchar](max) NULL,
	[SoforTelefon] [nvarchar](max) NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_Sofor] PRIMARY KEY CLUSTERED 
(
	[SoforId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tartim]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tartim](
	[TartimId] [int] IDENTITY(1,1) NOT NULL,
	[AracId] [int] NULL,
	[IslemSirasi] [int] NULL,
	[OlcumTarihi] [datetime] NULL,
	[CariUnvan_FirmaAliciId] [int] NULL,
	[MalzemeId] [int] NULL,
	[SevkYeriId] [int] NULL,
	[SoforId] [int] NULL,
	[BrutAgirlik] [float] NULL,
	[AracAgirlik] [float] NULL,
	[NetAgirlik] [float] NULL,
	[Ucret] [float] NULL,
	[CariUnvan_FirmaNakliyeciId] [int] NULL,
	[CariUnvan_FirmaGondericiId] [int] NULL,
	[YetkiliId] [int] NULL,
 CONSTRAINT [PK_Tartim] PRIMARY KEY CLUSTERED 
(
	[TartimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetkili]    Script Date: 1.02.2021 00:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkili](
	[YetkiliId] [int] IDENTITY(1,1) NOT NULL,
	[YetkiliKullaniciAd] [nvarchar](max) NULL,
	[YetkiliSifre] [nvarchar](max) NULL,
	[Admin] [bit] NULL,
	[Arsiv] [bit] NULL,
 CONSTRAINT [PK_Yetkili] PRIMARY KEY CLUSTERED 
(
	[YetkiliId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Arac] ON 

INSERT [dbo].[Arac] ([AracId], [AracPlaka], [AracDorsePlaka], [AracDaraAgirlik], [AracTip], [AracMarkaModel], [Arsiv]) VALUES (1, N'42ds42', NULL, 1500, 0, N'asdad', 0)
INSERT [dbo].[Arac] ([AracId], [AracPlaka], [AracDorsePlaka], [AracDaraAgirlik], [AracTip], [AracMarkaModel], [Arsiv]) VALUES (2, N'42 AAD 030', NULL, 14880, 0, N'', 0)
INSERT [dbo].[Arac] ([AracId], [AracPlaka], [AracDorsePlaka], [AracDaraAgirlik], [AracTip], [AracMarkaModel], [Arsiv]) VALUES (3, N'42 AAD 324', NULL, 15160, 0, N'', 0)
GO
SET IDENTITY_INSERT [dbo].[Arac] OFF
GO
SET IDENTITY_INSERT [dbo].[CariUnvan_Firma] ON 

INSERT [dbo].[CariUnvan_Firma] ([CariUnvan_FirmaId], [CariUnvan_FirmaAd], [CariUnvan_FirmaTelefon], [CariUnvan_FirmaAdres], [CariUnvan_FirmaEmail], [CariUnvan_FirmaVergiDairesi], [CariUnvan_FirmaVergiNo], [CariUnvan_FirmaMarsisNo], [CariUnvan_SahisAdSoyad], [CariUnvan_SahisAd], [CariUnvan_SahisSoyad], [CariUnvan_FirmaTC], [CariUnvan_FirmaGonderici], [CariUnvan_FirmaTip], [Il], [Ilce], [Arsiv]) VALUES (1, N'deneme', N'deneme', N'asd', N'deneme', N'a', N'0', N'0', NULL, NULL, NULL, NULL, NULL, 1, N'konya', N'akşehir', 0)
SET IDENTITY_INSERT [dbo].[CariUnvan_Firma] OFF
GO
SET IDENTITY_INSERT [dbo].[Malzeme] ON 

INSERT [dbo].[Malzeme] ([MalzemeId], [MalzemeAd], [MalzemeAciklama], [MalzemeBirimFiyat], [Arsiv]) VALUES (1, N'deneme', N'deneme', 50, 0)
INSERT [dbo].[Malzeme] ([MalzemeId], [MalzemeAd], [MalzemeAciklama], [MalzemeBirimFiyat], [Arsiv]) VALUES (2, N'0/4', N'', 0, 0)
INSERT [dbo].[Malzeme] ([MalzemeId], [MalzemeAd], [MalzemeAciklama], [MalzemeBirimFiyat], [Arsiv]) VALUES (3, N'0/5', N'', 0, 0)
SET IDENTITY_INSERT [dbo].[Malzeme] OFF
GO
SET IDENTITY_INSERT [dbo].[SevkYeri] ON 

INSERT [dbo].[SevkYeri] ([SevkYeriId], [SevkYeriAdres], [SevkYeriAciklama], [Arsiv]) VALUES (1, N'deneme	', N'deneme', 0)
INSERT [dbo].[SevkYeri] ([SevkYeriId], [SevkYeriAdres], [SevkYeriAciklama], [Arsiv]) VALUES (2, N'HOROZLUHAN', N'', 0)
INSERT [dbo].[SevkYeri] ([SevkYeriId], [SevkYeriAdres], [SevkYeriAciklama], [Arsiv]) VALUES (3, N'ORGANİZE', N'', 0)
SET IDENTITY_INSERT [dbo].[SevkYeri] OFF
GO
SET IDENTITY_INSERT [dbo].[Sofor] ON 

INSERT [dbo].[Sofor] ([SoforId], [SoforAd], [SoforSoyad], [SoforAdSoyad], [SoforTC], [SoforTelefon], [Arsiv]) VALUES (1, NULL, NULL, N'deneme', N'13213213213', N'5050', 0)
INSERT [dbo].[Sofor] ([SoforId], [SoforAd], [SoforSoyad], [SoforAdSoyad], [SoforTC], [SoforTelefon], [Arsiv]) VALUES (2, N'A.CAN ', N'DAĞLIKOCA', N'A.CAN DAĞLIKOCA', N'16511532992', N'', 0)
INSERT [dbo].[Sofor] ([SoforId], [SoforAd], [SoforSoyad], [SoforAdSoyad], [SoforTC], [SoforTelefon], [Arsiv]) VALUES (3, N'ABDULLAH', N'İNAL', N'ABDULLAH İNAL', N'58420123106', N'', 0)
GO
SET IDENTITY_INSERT [dbo].[Sofor] OFF
GO
SET IDENTITY_INSERT [dbo].[Tartim] ON 

INSERT [dbo].[Tartim] ([TartimId], [AracId], [IslemSirasi], [OlcumTarihi], [CariUnvan_FirmaAliciId], [MalzemeId], [SevkYeriId], [SoforId], [BrutAgirlik], [AracAgirlik], [NetAgirlik], [Ucret], [CariUnvan_FirmaNakliyeciId], [CariUnvan_FirmaGondericiId], [YetkiliId]) VALUES (2, 1, 2, CAST(N'2020-10-16T15:20:31.000' AS DateTime), 1, 1, 1, 1, NULL, NULL, -1500, -75000, NULL, 1, 1)
INSERT [dbo].[Tartim] ([TartimId], [AracId], [IslemSirasi], [OlcumTarihi], [CariUnvan_FirmaAliciId], [MalzemeId], [SevkYeriId], [SoforId], [BrutAgirlik], [AracAgirlik], [NetAgirlik], [Ucret], [CariUnvan_FirmaNakliyeciId], [CariUnvan_FirmaGondericiId], [YetkiliId]) VALUES (3, 1, 3, CAST(N'2020-10-16T15:21:11.000' AS DateTime), 1, 1, 1, 1, NULL, NULL, -1500, -75000, NULL, 1, 1)
INSERT [dbo].[Tartim] ([TartimId], [AracId], [IslemSirasi], [OlcumTarihi], [CariUnvan_FirmaAliciId], [MalzemeId], [SevkYeriId], [SoforId], [BrutAgirlik], [AracAgirlik], [NetAgirlik], [Ucret], [CariUnvan_FirmaNakliyeciId], [CariUnvan_FirmaGondericiId], [YetkiliId]) VALUES (4, 1, 4, CAST(N'2020-10-16T15:36:39.000' AS DateTime), 1, 1, 1, 1, NULL, NULL, -1500, -75000, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Tartim] OFF
GO
SET IDENTITY_INSERT [dbo].[Yetkili] ON 

INSERT [dbo].[Yetkili] ([YetkiliId], [YetkiliKullaniciAd], [YetkiliSifre], [Admin], [Arsiv]) VALUES (1, N'a', N'a', 1, 0)
SET IDENTITY_INSERT [dbo].[Yetkili] OFF
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_Arac] FOREIGN KEY([AracId])
REFERENCES [dbo].[Arac] ([AracId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_Arac]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_CariUnvan_Firma] FOREIGN KEY([CariUnvan_FirmaAliciId])
REFERENCES [dbo].[CariUnvan_Firma] ([CariUnvan_FirmaId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_CariUnvan_Firma]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_CariUnvan_Firma1] FOREIGN KEY([CariUnvan_FirmaNakliyeciId])
REFERENCES [dbo].[CariUnvan_Firma] ([CariUnvan_FirmaId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_CariUnvan_Firma1]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_CariUnvan_Firma3] FOREIGN KEY([CariUnvan_FirmaGondericiId])
REFERENCES [dbo].[CariUnvan_Firma] ([CariUnvan_FirmaId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_CariUnvan_Firma3]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_Malzeme] FOREIGN KEY([MalzemeId])
REFERENCES [dbo].[Malzeme] ([MalzemeId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_Malzeme]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_SevkYeri] FOREIGN KEY([SevkYeriId])
REFERENCES [dbo].[SevkYeri] ([SevkYeriId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_SevkYeri]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_Sofor] FOREIGN KEY([SoforId])
REFERENCES [dbo].[Sofor] ([SoforId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_Sofor]
GO
ALTER TABLE [dbo].[Tartim]  WITH CHECK ADD  CONSTRAINT [FK_Tartim_Yetkili] FOREIGN KEY([YetkiliId])
REFERENCES [dbo].[Yetkili] ([YetkiliId])
GO
ALTER TABLE [dbo].[Tartim] CHECK CONSTRAINT [FK_Tartim_Yetkili]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'true= gönderici firma' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CariUnvan_Firma', @level2type=N'COLUMN',@level2name=N'CariUnvan_FirmaGonderici'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=Şahıs 1=diğer' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CariUnvan_Firma', @level2type=N'COLUMN',@level2name=N'CariUnvan_FirmaTip'
GO
USE [master]
GO
